.Test1{
	margin-top: 400px;
	text-align: center;
}

.head{
	background: red url('https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&h=650&w=940')
	 round  top ;
	 background-blend-mode: lighten;
	
}

#head2{
	border: 1px solid red;
	border-radius: 100px;
	border-top-style: dotted;
	border-bottom-color: green;
	border-bottom-width: 10px;
	border-left-style: double;
}
.p1{
	border: 1px solid black; 
	
	margin: 10px 50px 30px 40px ; 
}

.p2{
	border: 1px solid black;
	padding: 10px 20px 30px 40px;
}
.di{
	height: 200px;
	width: 100%;
	background-color: red;
}
.outline{
	outline-style: solid;
	outline-color: yellow;
	border: 1px solid green;
	outline-width: 20px;
	width: 1100px;
	outline-offset: 10px;
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 80px;
}
.Justfy{
	border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 250px;
    text-align: justify;
    margin-left: 20px;
    text-indent: 20px;
}
.Shadow{
	text-shadow: 3px 2px red;
}
.fontSize{
	font-family: "Times New Roman" ,Times, serif;  
}
#tr{
	font-family: Arial, Helvetica, sans-serif;
}

.fa{
	font-size: 50px;
	padding-left: 20px;
	color: red;
	
}
